<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Mercado Web</span>
    <div>
      <span id="shoppingcaritems" class="badge bg-danger">12</span>
      <a id="shoppingcar" class="navbar-brand" href="#">&#128722;</a>
    </div>
  </div>
</nav>