<div id="{{product}}" class="product-card card text-black col-4 mx-2 my-2">
  <a href="#">
    <img src="img/{{product}}.png" class="card-img" alt="{{product}}">
    <div class="card-img-overlay">
      <h5 class="card-title text-capitalize">{{product}}</h5>
    </div>
  </a>
</div>