<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Mercado Web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/bscss/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  {{> menu }}
  {{> dashboard }}
  {{> modal }}


  <script src="/bsjs/bootstrap.bundle.min.js"></script>
  <script src="/jq/jquery.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>